services:
  db:
    image: mysql:latest
    ports:
      - 3307:3306
    environment:
      - MYSQL_ROOT_PASSWORD=dark
      - MYSQL_ROOT_USER=root
    volumes:
      - db_info: /var/lib/mysql
  backend: 
    build: 
      context: .
      dockerfile: Dockerfile.dev
    expose:
      - 3000
    ports:
      - 3000:3000
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules
  volumes: 
    - db_info:
  